@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&family=Jolly+Lodger&family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Carter+One&family=Jolly+Lodger&family=Oxanium:wght@200..800&family=Story+Script&display=swap');
*{/*reset basico*/
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*vai muda tudo*/
body{
    text-align: center;/*centralizando tudo*/
    background-color: rgb(35,31,26);
    
}
header{
    background-color: rgb(94,91,92);
    color: rgb(0, 0, 0);
    padding: 17px;/*espacamento interno*/
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
nav a{
    color: rgba(239, 243, 227, 0.836);/*muda acor da letra*/
    text-decoration: none;/*tirar a barrinha do texo*/
    display:inline-block;/*ativa o display*/
    margin: 10px;/*aumento o espacamento externo*/
    padding: 10px 20px;/*aumenta o espacamento*/
    background-color: rgb(0, 0, 0);/*muda a cor de fundo das letras*/
    border-radius: 40px;/*deixa redondo*/
    font-size: 30px;
}
nav a:hover{
    color: rgb(173, 167, 167);
    background-color: rgb(39, 39, 39);
}
.card{
    display: inline-block;
    width: 350px;
    margin: 15px;
    padding: 10px;
    background-color: rgba(114, 99, 84, 0.658);
}
.card img{
    width: 100%;
    border-radius: 10%;
}
#personagens h2{/*mudando a fonte do 2 titulo*/
    font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: 37px;
    color: rgb(252, 252, 252);
}
#personagens{
    background-image: url(./imagens/banner.jpg);
    /*backgroud-size: meche no tamanho do plano de fundo| cover= esticar a imagem| contain = mantem o tamanho original da imagem| backgroud-repeat: tira a repeticao ou coloca a repeticao | no-repeat= impede que a imagem que se repita| backgroud-position: altera a posicao da minha imagem|left,right,center*/
    background-size: cover;
}
.card:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
#jogos h2{
    font-size: 17vh;
    margin-top: 30px;
}
#jogos{
    background-image: url(./imagens/banner\ 2.jpg);
    margin-top: 50px;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: aliceblue;
}
.card-jogos img{
    width: 400px;

}
.card-jogos{
    display: inline-block;
    width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(114, 99, 84, 0.842);
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;
    border-radius: 20px;

}
.card-jogos:hover{
    transform: translateY(-35px);
    transition: 0.5s;
}
footer{
    background-color: black;
    color: rgb(135, 138, 141);
    font-size: 30px;
    padding-top: 40px;
    border-top: solid saddlebrown 10px;
}
footer a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 40px;
}